logging:
    config: classpath:logback-spring.xml
server:
    port: 8080
    servlet:
        session:
            timeout: 7200
spring:
    datasource:
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: oracle.jdbc.driver.OracleDriver
        url: jdbc:oracle:thin:@127.0.0.1:1521:orcl
        username: keep
        password: 123
    devtools:
        restart:
            enabled: true
    jpa:
        hibernate:
            ddl-auto: none
        properties:
            hibernate:
                current_session_context_class=org.springframework.orm.hibernate5.SpringSessionContext
                format_sql=true
    redis:
        host: 127.0.0.1
        jedis:
            pool:
                max-active: 200
                max-idle: 50
                max-wait: -1
                min-idle: 0
        password: 
        port: 6379
        timeout: 1000000
