# https://docs.spring.io/spring-boot/docs/2.0.9.RELEASE/reference/htmlsingle/#common-application-properties
logging:
    config: classpath:logback-spring.xml
mybatis:
    configuration:
        jdbc-type-for-null: 'null'
    mapper-locations: classpath*:mapper/*.xml, classpath*:mapper/**/*.xml
server:
    port: 8080
    servlet:
        session:
            timeout: 7200
spring:
    datasource:
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: oracle.jdbc.driver.OracleDriver
        url: jdbc:oracle:thin:@192.168.243.128:1521:orcl
        username: tmp
        password: 123
    redis:
        host: 127.0.0.1
        jedis:
            pool:
                max-active: 200
                max-idle: 50
                max-wait: -1
                min-idle: 0
        password: 
        port: 6379
        timeout: 1000000
