<?xml version="1.0" encoding="UTF-8" ?>
<!-- 详细配置解释见https://juejin.im/post/5b51f85c5188251af91a7525 -->
<configuration scan="true" scanPeriod="60 seconds" debug="false">
	<property name="file" value="./logs/logback.log"></property>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${file}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${file}%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxHistory>15</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>2MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
		<filter class="cn.net.bhe.springbootmybatis.filter.LogFilter" />
	</appender>
	<!-- http://logback.qos.ch/manual/appenders.html -->
	<!-- http://logback.qos.ch/manual/filters.html -->
	<appender name="db" class="ch.qos.logback.classic.db.DBAppender">
		<connectionSource class="ch.qos.logback.core.db.DataSourceConnectionSource">
			<dataSource class="org.apache.commons.dbcp2.BasicDataSource">
				<driverClassName>oracle.jdbc.driver.OracleDriver</driverClassName>
				<url>jdbc:oracle:thin:@localhost:1521:orcl</url>
				<username>bhe</username>
				<password>123</password>
			</dataSource>
		</connectionSource>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>
	<root level="info">
		<appender-ref ref="console" />
		<appender-ref ref="file" />
		<appender-ref ref="db" />
	</root>
	<logger name="org.mybatis" level="trace" additivity="false">
		<appender-ref ref="console" />
		<appender-ref ref="file" />
		<appender-ref ref="db" />
	</logger>
	<logger name="cn.net.bhe.springbootmybatis" level="debug" additivity="false">
		<appender-ref ref="console" />
		<appender-ref ref="file" />
		<appender-ref ref="db" />
	</logger>
</configuration>