<?xml version="1.0" encoding="UTF-8" ?>
<!-- 详细配置解释见https://juejin.im/post/5b51f85c5188251af91a7525 -->
<configuration scan="true" scanPeriod="60 seconds" debug="false">
	<property name="file" value="./logs/logback.log"></property>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${file}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${file}%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxHistory>15</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>2MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	<root level="info">
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</root>
	<logger name="org.mybatis" level="trace" additivity="false">
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</logger>
	<logger name="cn.net.bhe.springbootmybatis" level="debug" additivity="false">
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</logger>
</configuration>